* {
  margin: 0px;
  padding: 0px;
}
body {
  background-color: black;
  color: white;
}
.home {
  height: 100vh;
  width: 100vw;
  background-image: url("/images/i1.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.header {
  padding: 10px 10%;
}
.logo {
  height: 91px;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
}
nav ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
}
nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
  position: relative;
}
nav ul li a::after {
  content: "";
  height: 3px;
  background: red;
  width: 0px;
  position: absolute;
  left: 0px;
  bottom: -6px;
  transition: 0.5s;
}
nav ul li a:hover::after {
  width: 100%;
}
.header-text {
  margin-top: 20px;
}
.header-text h1 {
  font-size: 60px;
  margin-top: 100px;
}
.about
{
    padding: 80px 0px;
}
.row
{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.col1
{
    flex-basis: 35%;
}
.col1 img
{
    width: 100%;
    border-radius: 15px ;
}
.col2
{
    flex-basis: 60%;
}
.title
{
    font-size: 3rem;
    font-weight: 600;
    color: white;
}
.tab-titles
{
    display: flex;
    margin: 20px 0px 40px;
}
.tab-links
{
    margin-right: 50px;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    position: relative;
}
.tab-links::after
{
    content: '';
    width: 0px;
    height: 3px;
    background: red;
    position: absolute;
    left: 0px;
    bottom: -8px;
    transition: 0.5s;
}
.tab-links:hover::after
{
    width: 50%;
}
.tab-contents
{}
.tab-contents.active-tab
{
    display: block;
}